@using E_recrutement.Models.ViewModels
@model CandidatureVM

@{
    ViewData["Title"] = "Consulter Candidature";
}

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <img class="flex-shrink-0 img-fluid border rounded" src="~/img/@Model.ConcernedOffer.UrlCompanyLogo" alt="" style="width: 80px; height: 80px;">
                    <div class="text-start ps-4">
                        <h3 class="mb-3">@Model.ConcernedOffer.Poste</h3>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.ConcernedOffer.Location</span>
                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@Model.ConcernedOffer.Type</span>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>@Model.ConcernedOffer.Remuneration</span>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Job description</h4>
                    <p>@Model.ConcernedOffer.Description</p>
                    <h4 class="mb-3">Responsibility</h4>
                    <p>@Model.ConcernedOffer.Responsibilities</p>

                    <h4 class="mb-3">Qualifications</h4>
                    <p>@Model.ConcernedOffer.Qualifications</p>

                </div>

                <div class="">
                    <h4 class="mb-4">My Motivation Lettre</h4>
                    <form method="post">
                        <div class="row g-3">
                            <div class="col-12">
                                <textarea class="form-control" rows="5" name="lettre" id="lettre" disabled>@Model.Apply.MotivationLettre</textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" style="width= 50px;" asp-controller="Offer" asp-action="MyApplications">Back</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Job Summery</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Postuled On: @Model.Apply.DateApplication</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: @Model.ConcernedOffer.Poste</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Type of contract: @Model.ConcernedOffer.Type</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: @Model.ConcernedOffer.Remuneration</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Location: @Model.ConcernedOffer.Location</p>
                </div>
                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Company Detail</h4>
                    <p class="m-0">@Model.ConcernedOffer.Company</p>
                </div>
            </div>
        </div>
    </div>
</div>